@import "../components/variable.scss";

.boards {
  margin: 0 10% 0 10%;

  .boards-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    .boards-title {
      color: $primary_color;
      font-size: 36px;
      margin: 0;
      padding: 5px;
    }

    .boards-subtitle {
      margin: 0;
      font-weight: 500;
    }
  }

  .host-info {
    p {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      color: $primary_color;
      margin: 0;
    }
    .rating_stars {
      display: flex;
      gap: 10px;
    }
  }

  .SelectorAbout {
    display: flex;
    gap: 100px;
    
    .selectorabout-container {
      width: 100%;
      margin: unset;
    }
  }
}

.boards-buttons-container {
  display: flex;
  gap: 10px;
}
.buttons {
  background-color: $primary_color;
  color: $title_color;
  height: 25px;
  border-radius: 10px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
  padding: 5px;
  p {
    font-size: 14px;
    font-weight: 700;
  }
}

@media (max-width: 775px) {
  .boards {
    margin: 0 5% 0 5%;
    .SelectorAbout {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: unset;
    }
  }
  .buttons {
    background-color: $primary_color;
    color: $title_color;
    height: 25px;
    border-radius: 10px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    padding: 5px;
    
  }
  .boards-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .boards-title {
    color: $primary_color;
    font-size: 18px;
    margin: 0;
    padding: 5px;
  }
}

.host-info {
  // display: flex;
  // justify-content: space-between;
  p {
    order: 2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary_color;
    margin: 0;
  }
  .rating_stars {
    order: 1;
    display: flex;
    gap: 10px;
  }
}
