@import "../components/variable.scss";

article {
  height: 340px;
  width: 340px;
  background-color: $primary_color ;
  border-radius: 20px;
  margin: 50px;
  img{
    display: flex;
    height:80%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
}
.card_content {
    color: $title_color;
    min-height: 18px;
    margin: 0 25px ;
  p {
    color: $title_color;
    font-size: 18px;
    text-decoration: none;
  }
}

// @media (min-width: );{


// }

@media (max-width: 580px){
  article{
  height: 255px;
  width: 335px;
  background-color: $primary_color ;
  border-radius: 20px;
  margin: 0px;
}
  .cards {
    width:unset;
    
  }
  .card_content {
    color: $title_color;
    min-height: 18px;
    margin: 10px 25px ;
  p {
    color: $title_color;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
  }
}
  }




