article {
  height: 340px;
  width: 340px;
  background-color: #ff6060;
  border-radius: 20px;
  margin: 50px;
  img{
    display: flex;
    height:80%;
}
}
.card_content {
    color: bisque;
    min-height: 18px;
    margin: 0 25px ;
  p {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
}



