.error-content {
  display: flex;
align-items: center;
  flex-direction: column;

  .error-title {
    color: #ff6060;
    max-height: 263px;
    font-size: 288px;
    margin: 0;
    padding: 130px;
  }

  .error-subtitle {
    color: #ff6060;
    font-size: 36px;
    margin-bottom: 96px;
  }
}
