@import "../components/variable.scss";

.error-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .error-title {
    color: $primary_color;
    max-height: 263px;
    font-size: 288px;
    margin: 0;
    padding: 130px;
    font-weight: 700;
  }

  .error-subtitle {
    color: $primary_color;
    font-size: 36px;
    margin-bottom: 96px;
  }
}

@media (max-width: 775px) {
  .error-title {
    color: $primary_color;
    max-height: 263px;
    font-size: 96px;
    margin: 0;
    padding: 130px;
    font-weight: 700;
  }
}
