@import "../components/variable.scss";

.footer {
    background-color: $secondary_background_color;
    width: 100%;
    padding: 66px 121px 58px 121px;
    margin: 0;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;


    p {
        color: $title_color;
        font-size: 12px;
        text-align: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;

    }
}