@import "../components/variable.scss";

.container_selector {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 2%;
  min-height: 40vh;
}

.selectorabout-container {
  display: flex;
  flex-direction: column;
  
  background-color: $main_background_color;
  margin: 0 15%;

  .selectorabout_button {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $primary_color;
    border-radius: 10px;
    height: 54px;
    padding: 10px;
    p {
      margin-left: 6px;
    }
  }

  .selector_text {
    margin-left: 20px;
    padding: 2%;
  }
}
