@import "../components/variable.scss";

// @media (min-width: 1480px) {
  body {
    // min-width: 100vh;

    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }

  .container_home {
    min-height: 375px;
  }
  .container_cards {
    margin: 40px 10% 40px 10%;
    display: flex;
    flex-wrap: wrap;
    min-height: 829px;
    background-color: $main_background_color;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    .cards{
      width: 30%;
      display: flex;
  }
  }
// }

// @media (max-width:1480px) {
//   }

  @media (max-width: 775px){
    .container_cards{
      width: unset;
      gap: 25px;
      background-color: unset;
      margin: unset;
      
      .cards{
        width: unset;
}
    }}