* {
  font-family: "Montserrat", sans-serif;
}

.footer {
  background-color: #000000;
  padding: 66px 121px 58px 121px;
  margin: 0;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  min-height: 20vh;
}
.footer p {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 775px) {
  .footer {
    background-color: #000000;
    padding: 66px 121px 58px 121px;
    margin: 0;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    min-height: 30vh;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
  margin: 2% 10% 2% 10%;
}

.nav {
  display: flex;
  gap: 57px;
  font-weight: 500;
}
.nav a {
  text-decoration: none;
  font-size: 1.5em;
}

.links {
  display: flex;
}

@media (max-width: 775px) {
  .navbar {
    margin: 2% 3% 2% 3%;
  }
  .nav {
    gap: 20px;
    padding: 5px;
  }
  .nav a {
    font-size: 1em;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner h1 {
  position: absolute;
  z-index: 1;
  color: #FFFFFF;
  font-size: 1.5em;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 223px;
  width: 80%;
  border-radius: 20px;
  filter: brightness(0.5);
}

@media (max-width: 775px) {
  .banner h1 {
    width: 70%;
  }
  .banner img {
    max-height: 111px;
    word-wrap: break-word;
    width: 95%;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.error-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-content .error-title {
  color: #FF6060;
  max-height: 263px;
  font-size: 288px;
  margin: 0;
  padding: 130px;
  font-weight: 700;
}
.error-content .error-subtitle {
  color: #FF6060;
  font-size: 36px;
  margin-bottom: 96px;
}

@media (max-width: 775px) {
  .error-title {
    color: #FF6060;
    max-height: 263px;
    font-size: 96px;
    margin: 0;
    padding: 130px;
    font-weight: 700;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

article {
  height: auto;
  width: 100%;
  background-color: #FF6060;
  border-radius: 20px;
  max-height: 340px;
}
article img {
  display: flex;
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.card_content {
  color: #FFFFFF;
  min-height: 18px;
  margin: 0 25px;
}
.card_content p {
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 775px) {
  article {
    height: 255px;
    width: 335px;
    background-color: #FF6060;
    border-radius: 20px;
    margin: 0px;
  }
  .cards {
    width: unset;
  }
  .card_content {
    color: #FFFFFF;
    min-height: 18px;
    margin: 6px 25px;
  }
  .card_content p {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.container_home {
  min-height: 375px;
}

.container_cards {
  margin: 40px 10% 40px 10%;
  display: flex;
  flex-wrap: wrap;
  min-height: 829px;
  background-color: rgba(246, 246, 246, 0.9647058824);
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
.container_cards .cards {
  width: 30%;
  display: flex;
}

@media (max-width: 775px) {
  .container_cards {
    width: unset;
    gap: 25px;
    background-color: unset;
  }
  .container_cards .cards {
    width: unset;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.container_selector {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 6%;
  min-height: 40vh;
  justify-content: center;
}

.selectorabout-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(246, 246, 246, 0.9647058824);
  margin: 0 15%;
}
.selectorabout-container .selectorabout_button {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #FF6060;
  border-radius: 10px;
  height: 52px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 18px;
}
.selectorabout-container .selectorabout_button p {
  margin-left: 6px;
}
.selectorabout-container .selector_text {
  margin-left: 20px;
  padding: 2%;
}

@media (max-width: 775px) {
  .selectorabout-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 246, 246, 0.9647058824);
    margin: unset;
  }
  .selectorabout-container .selectorabout_button {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #FF6060;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 13px;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.carrousel {
  margin: 0 10% 0 10%;
  position: relative;
  height: 446px;
  display: flex;
}
.carrousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.carrousel .fa-solid {
  color: #FFFFFF;
  font-size: 79px;
}
.carrousel .fa-chevron-left {
  text-align: left;
  width: 45%;
}
.carrousel .fa-chevron-right {
  text-align: right;
  width: 45%;
}

.chevrons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 40%;
  flex-wrap: wrap;
}
.chevrons div {
  width: 100%;
}
.chevrons p {
  display: flex;
  top: 150px;
  position: relative;
  color: white;
}

@media (max-width: 775px) {
  .carrousel {
    margin: 0 5% 0 5%;
    position: relative;
    height: 255px;
    display: flex;
  }
  .carrousel .fa-solid {
    color: #FFFFFF;
    font-size: 24px;
  }
  .chevrons {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 45%;
    flex-wrap: wrap;
  }
  .chevrons div {
    width: 100%;
  }
  .chevrons p {
    display: flex;
    top: 70px;
    position: relative;
    color: white;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.boards {
  margin: 0 10% 0 10%;
}
.boards .boards-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.boards .boards-content .boards-title {
  color: #FF6060;
  font-size: 36px;
  margin: 0;
  padding: 5px;
}
.boards .boards-content .boards-subtitle {
  margin: 0;
  font-weight: 500;
}
.boards .host-info p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF6060;
  margin: 0;
}
.boards .host-info .rating_stars {
  display: flex;
  gap: 10px;
}
.boards .SelectorAbout {
  display: flex;
  gap: 100px;
}
.boards .SelectorAbout .selectorabout-container {
  width: 100%;
  margin: unset;
}

.boards-buttons-container {
  display: flex;
  gap: 10px;
}

.buttons {
  background-color: #FF6060;
  color: #FFFFFF;
  height: 25px;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
  padding: 5px;
}
.buttons p {
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 775px) {
  .boards {
    margin: 0 5% 0 5%;
  }
  .boards .SelectorAbout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: unset;
  }
  .buttons {
    background-color: #FF6060;
    color: #FFFFFF;
    height: 25px;
    border-radius: 10px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    padding: 5px;
  }
  .boards-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .boards-title {
    color: #FF6060;
    font-size: 18px;
    margin: 0;
    padding: 5px;
  }
}
.host-info p {
  order: 2;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF6060;
  margin: 0;
}
.host-info .rating_stars {
  order: 1;
  display: flex;
  gap: 10px;
}

* {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=styles.css.map */